data/
results/
store/
model_backups/
nectar-research/
joint-training/
**/*.out
**/.ipynb_checkpoints/
**/__pycache__/
**/*.pt
**/*.pyc
**/*.csv
**/*.pdf
**/*.npz
**/*.ipynb
**/*.npy
**/*.npz
.vscode/


